.main-nav__nav-wrapper {
  @include tablet-width() {
    width: 50%;
  }
  &--site-nav {
    @include desktop-width() {
      order: -1;
      min-height: 89px;
      background-color: $bg-color-base;
    }
  }
  &--user-nav {
    background-color: $bg-color-base;
  }
}
.main-nav__link {
  @include font-options($font-bold, 17px, 24px, $text-title-color);
}
.special-item {
  @include font-options($font-bold, 15px, 24px, $text-title-color);
}
.main-nav__delivery {
  @include font-options($font-regular, 15px, 24px, $text-base-color);
  display: none;
}
