.week-product__container {
  @include container($mobile-width, $mobile-padding, 28px, 42px);

  display: flex;
  flex-direction: column;
  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 45px, 69px);
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 70px, 96px);
  }
}
.week-product__title-wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;
  @include tablet-width() {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 49px;
  }
  @include desktop-width() {
    z-index: 5;
    margin-bottom: -110px;
    padding-top: 53px;

    justify-content: flex-start;
  }
}
.week-product__title {
  @include font-options($font-bold, 17px, 20px, $bg-color-green-light);

  margin: 4px 0 0;

  font-weight: normal;
  text-transform: uppercase;
  @include desktop-width() {
    order: -1;
  }
}
.week-product__intro {
  @include font-options($font-bold, 25px, 30px, $text-title-color);
  order: 0;
  display: block;

  @include desktop-width() {
    width: 875px;
    margin: 0;
  }
}
.week-product__description {
  @include font-options($font-regular, 15px, 25px, $text-base-color);
}
.week-product__info {
  @include font-options($font-regular, 15px, 20px, $text-base-color);
}
.week-product__price-title {
  @include font-options($font-bold, 17px, 24px, $text-base-color);
}
