.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@mixin container(
  $container-width: $mobile-width,
  $container-padding: $mobile-padding,
  $container-padding-top: 0,
  $container-padding-bottom: 0
) {
  min-width: $container-width;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: $container-padding-top $container-padding $container-padding-bottom;
}
@mixin mobile-width-only() {
  @media (max-width: $mobile-width-only) {
    @content;
  }
}

@mixin tablet-width() {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop-width() {
  @media (min-width: $desktop-width) {
    @content;
  }
}
@mixin font-options(
  $family: $font-regular,
  $size: 15px,
  $line: 24px,
  $font-color: $text-base-color
) {
  font-family: $family;
  font-size: $size;
  line-height: $line;
  color: $font-color;
}
