// Шрифты
$font-regular: "OpenSans-regular", "Arial", sans-serif;
$font-bold: "OpenSans-bold", "Arial", sans-serif;
// Задний Фон
$bg-color-base: #ffffff;
$bg-color-gray: #f1f1f1;
$bg-color-gray2: #f9f9f9;
