// Шрифты
$font-regular: "OpenSans-regular", "Arial", sans-serif;
$font-bold: "OpenSans-bold", "Arial", sans-serif;
// Задний Фон
$bg-color-base: #ffffff;
$bg-color-gray: #f1f1f1;
$bg-color-gray2: #f9f9f9;
$bg-color-green-light: #63d1bb;
$bg-color-green-dark: #56c3b2;
$bg-color-photo-gray: #ebebeb;
$bg-color-categories: #fafafa;
// Цвета текста
$text-base-color: #444444;
$text-second-color: #ffffff;
$text-title-color: #000000;
$text-form-legend-color: #63d1bb;
// Цвета
$menu-button-color: #221f1f;
$btn-base-color: #ffffff;
$btn-base-color-hover: #444444;
$btn-text-color-hover: #ffffff;
$btn-border-base-color: #444444;
